---
import { EnergyDrink } from '../models/energyDrink';
const headers: string[] = Astro.props.headers || [];
const drinks: EnergyDrink[] = Astro.props.drinks || [];
const headerKeyMap: Record<string, string> = Astro.props.headerKeyMap || {};
const hiddenOnMobile = (header: string) => {
    const h = header.toLowerCase();
    return h === 'store' || h === 'brand' || h === 'promo' || h === '€/l';
};
---
<div class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default w-full">
    <table class="w-full text-sm text-left rtl:text-right text-body">
        <thead class="text-sm text-body bg-lime-300 border-b border-default-medium">
            <tr>
                {headers.map((header: string) => (
                    <th scope="col" class={`${hiddenOnMobile(header) ? "hidden md:table-cell" : ""} px-6 py-3 font-medium`}>
                        {header}
                    </th>
                ))}
            </tr>
        </thead>
        <tbody>
            {drinks === null || drinks.length === 0 
            ? (
                <tr>
                    <td class="px-6 py-4 text-center text-body" colspan={headers.length}>
                        No drinks available.
                    </td>
                </tr>
              ) 
            :
              drinks.map((drink: EnergyDrink) => (
                <tr class="bg-neutral-primary-soft border-b border-default">
                    <th scope="row" class={`${hiddenOnMobile(headers[0]) ? "hidden md:table-cell" : ""} px-6 py-4 font-medium text-heading whitespace-nowrap`}>
                        {/* href requires string and does not accept numbers */}
                        <a href={String(drink[headerKeyMap['url'] as keyof EnergyDrink])} target="_blank" rel="noopener noreferrer" class="text-heading hover:underline">
                            {drink[headerKeyMap[headers[0]] as keyof EnergyDrink]}
                        </a>
                    </th>

                    {headers.slice(1).map((header: string) => {
                        const key: keyof EnergyDrink = headerKeyMap[header] as keyof EnergyDrink;
                        const value: EnergyDrink[keyof EnergyDrink] = drink[key];

                        return (
                            <td class={`${hiddenOnMobile(header) ? "hidden md:table-cell" : ""} px-6 py-4`}>
                                {
                                    (header.toLowerCase() === 'store' || header.toLowerCase() === 'brand' || header.toLowerCase() === 'promo')
                                        ? (
                                            header.toLowerCase() === 'promo' && value
                                                ? <span class="bg-success-soft text-fg-success-strong text-sm font-medium px-2 py-1 rounded">
                                                    Promo
                                                </span>
                                                : value
                                        )
                                        : header.toLowerCase() === '€/l'
                                            ? (typeof value === 'number'
                                                ? `€ ${value.toLocaleString()}`
                                                : value)
                                            : value
                                }
                            </td>
                        );
                    })}
                </tr>
            ))}
        </tbody>
    </table>
</div>