---
const filterTxt: string = Astro.props.filterTxt || 'All';
const count: number | string = Astro.props.count || '-';
---
<button type="button"
        data-filter={filterTxt.toLowerCase()}
        class="text-heading bg-gradient-to-r from-lime-200 via-lime-400 to-lime-500 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-lime-300 dark:focus:ring-lime-800 shadow-lg shadow-lime-500/50 dark:shadow-lg dark:shadow-lime-800/80 font-medium rounded-base text-sm px-4 py-2.5 text-center leading-5">
        {filterTxt} ({count})
</button>