---
interface NavMenu {
    label: string;
    href: string;
}

const navmenu: NavMenu[] = [{
        label: "Overview",
        href: "/astro-build/",
    },
    {
        label: "Promotions",
        href: "/astro-build/promoPage",
    },
    {
        label: "Table",
        href: "/astro-build/tablePage",
    },
];

const currentPath = typeof window !== "undefined" ? window.location.pathname : "/astro-build/";
---

<nav class="bg-pink-600 fixed w-full z-20 top-0 start-0 border-b border-pink-700">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
        <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-body rounded-base md:hidden hover:bg-neutral-secondary-soft hover:text-heading focus:outline-none focus:ring-2 focus:ring-neutral-tertiary" aria-controls="navbar-sticky" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/></svg>
        </button>
    </div>
    <div id="navbar-sticky" class="hidden w-full md:flex md:flex-row mx-auto md:w-auto md:order-1">
      <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-default rounded-base bg-pink-600 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-pink-600">
            {navmenu.map((item) => (
                <li>
                <a
                    href={item.href}
                    class={
                    "block py-2 px-3 rounded md:p-0 " +
                    (currentPath === item.href
                        ? "bg-gray-800 text-white md:bg-transparent md:text-gray-800" // active
                        : "text-white md:text-gray-800 hover:bg-indigo-300 md:hover:bg-transparent") // inactive
                    }
                    aria-current={currentPath === item.href ? "page" : undefined}
                >
                    {item.label}
                </a>
                </li>
            ))}
      </ul>
    </div>
  </div>
</nav>

<script>
    const currentPath = window.location.pathname;

    document.querySelectorAll('nav a').forEach((link) => {
        if (link.getAttribute('href') === currentPath) {
            link.classList.add('bg-gray-800', 'md:bg-transparent', 'md:text-gray-800');
            link.setAttribute('aria-current', 'page');
        } else {
            link.classList.remove('bg-gray-800', 'md:bg-transparent', 'md:text-gray-800');
            link.removeAttribute('aria-current');
        }
    });
</script>